.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Новые стили */


.header {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 8px #f0f1f2;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgb(255, 255, 255);
  margin: 16px 24px 16px 0;
  float: left;
}

.site-layout-content {
  padding: 24px;
  background: #fff;
  min-height: 280px;
  margin-top: 64px; /* Учитываем высоту header */
}
